<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<title>勤怠履歴確認画面</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<script th:src="@{/js/user/detail.js}" defer></script>
</head>

<body>
	<div layout:fragment="content">
		<form th:action="@{/attendance/history/csv}" method="get">
			<button type="submit" class="btn btn-primary mt-3">CSV出力</button>
		</form>
		<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>日付</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
					<th>実働時間</th>
					<th>休憩時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="summary : ${history}">
					<td th:text="${summary.workDate}"></td>
					<td th:text="${summary.workStart}"></td>
					<td th:text="${summary.workEnd}"></td>
					<td th:text="${summary.workingMinutes}"></td>
					<td th:text="${summary.breakMinutes}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>