<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>申請承認画面</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<script th:src="@{/js/approvals.js}" defer></script>
</head>

<body layout:fragment="content">
	<!--ユーザー一覧表示-->
	<div class="container" style="display: flex;">
		<ul>
			<li th:each="user : ${userList}" th:attr="data-userid=${user.id}" class="user-item"
				　style="cursor: pointer;">
				<span th:text="${user.name}">ユーザー名</span>
			</li>
		</ul>
	</div>

	<!--HTML右側-->
	<div id="user-detail" style="margin-left: 40px; width: 100%;">
		<h2>申請詳細</h2>
		<table style="margin-left: 20px;">
			<h3 id="detail-name">名前:</h3>
			<ul id="request-list"></ul>
		</table>
	</div>
</body>

</html>