<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	
<head>
	<title>各種申請画面</title>
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<script th:src="@{/js/user/detail.js}" defer></script>
</head>
<body layout:fragment="content">
	<h2>申請種別を選んでください</h2>
	<ul>
		<li><a th:href="@{/requests/paidleave}">▶ 有給申請</a></li>
		<li><a th:href="@{/requests/correction}">▶ 勤怠修正申請</a></li>
	</ul>
</body>
</html>